<main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
          <img class="banner-image" src="./assets/images/Hero-2.png" alt="HeroImage">
          <div class="banner-inner">
             <h3 class="heading-xl">Trouvez votre <span style="color: var(--color-blue-600);">freelance IT</span></h3>
             <p class="paragraph">
                plateforme Freelance Informatique en Transformation Digitale & SI, Infrastructures IT & Cybersécurité
             </p>
             <button class="btn btn-darken btn-inline">
                join now<i class="bx bx-right-arrow-alt"></i>
             </button>
          </div>
          <div class="banner-links">
             <a href="#" title=""><i class="bx bxl-facebook"></i></a>
             <a href="#" title=""><i class="bx bxl-instagram"></i></a>
             <a href="#" title=""><i class="bx bxl-twitter"></i></a>
             <a href="#" title=""><i class="bx bxl-youtube"></i></a>
          </div>
       </div>
    </section>
</main>

