<div class="sectin_registration">
   <div class="container">
      <header>
         <i class="fa-solid fa-arrow-left"></i>
         <div>Signup Form</div>
      </header>
      <div class="progress-bar">
         <div class="step" *ngFor="let step of steps; let i = index">
            <p [class.active]="currentStep > i">{{step.label}}</p>
            <div class="bullet" [class.active]="currentStep > i">
               <span>{{i + 1}}</span>
            </div>
            <div class="check fas fa-check" [class.active]="currentStep > i"></div>
         </div>
      </div>
      <div class="form-outer">
         <form (submit)="onSubmit($event)">
            <div class="page slide-page" [style.marginLeft]="marginLeft">
                <div class="title">Basic Info:</div>
                <!-- <div class="field">
                   <div class="label">First Name</div>
                   <input type="text">
                </div>
                <div class="field">
                   <div class="label">Last Name</div>
                   <input type="text">
                </div> -->

               <div class="grid">
                  <div class="col-6">
                     <div class="field">
                        <div class="label">First Name</div>
                        <input type="text">
                     </div>
                  </div>
                  <div class="col-6">
                     <div class="field">
                        <div class="label">Last Name</div>
                        <input type="text">
                     </div>
                  </div>
                  <div class="col-6">
                     <div class="field">
                        <div class="label">First Name</div>
                        <input type="text">
                     </div>
                  </div>
                  <div class="col-6">
                     <div class="field">
                        <div class="label">Last Name</div>
                        <input type="text">
                     </div>
                  </div>
               </div>

                <div class="field">
                   <button type="button" class="firstNext next" (click)="nextStep($event)">Next</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Contact Info:</div>
                <div class="field">
                   <div class="label">Email Address</div>
                   <input type="text">
                </div>
                <div class="field">
                   <div class="label">Phone Number</div>
                   <input type="Number">
                </div>
                <div class="field btns">
                   <button type="button" class="prev-1 prev" (click)="prevStep($event)">Previous</button>
                   <button type="button" class="next-1 next" (click)="nextStep($event)">Next</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Date of Birth:</div>
                <div class="field">
                   <div class="label">Date</div>
                   <input type="text">
                </div>
                <div class="field">
                   <div class="label">Gender</div>
                   <select>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                   </select>
                </div>
                <div class="field btns">
                   <button type="button" class="prev-2 prev" (click)="prevStep($event)">Previous</button>
                   <button type="button" class="next-2 next" (click)="nextStep($event)">Next</button>
                </div>
            </div>
            <div class="page">
                <div class="title">Login Details:</div>
                <div class="field">
                   <div class="label">Username</div>
                   <input type="text">
                </div>
                <div class="field">
                   <div class="label">Password</div>
                   <input type="password">
                </div>
                <div class="field btns">
                   <button type="button" class="prev-3 prev" (click)="prevStep($event)">Previous</button>
                   <button type="submit" class="submit">Submit</button>
                </div>
            </div>
         </form>
      </div>
   </div>
</div>

