<!-- annonce.component.html -->

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/societes/profile.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Développeur Back-End avec une connaissance en Cloud et sécurité</h5>
                    <div class="card-text">
                        <p><strong>Description de la mission:</strong></p>
                        <p>Dans le cadre d'un nouveau projet au sein de l'un de nos clients, nous recherchons un
                        Développeur BackEnd avec une connaissance en Cloud et sécurité :</p>
                        <ul>
                            <li>Collaborer avec les architectes du projet pour analyser les besoins et les modéliser selon les
                                techniques et normes de l'entreprise.</li>
                            <li>Développer l'application, réaliser les tests unitaires.</li>
                            <li>Participer aux tests d'intégration et système.</li>
                            <li>Documenter les travaux d'analyse, de conception, de réalisation et de tests.</li>
                            <li>Contribuer à l'estimation des efforts de développement.</li>
                            <li>Participer à la mise en œuvre des méthodes, outils et standards du développement.</li>
                            <li>Participer aux révisions des livrables.</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="card-text">
                        <p><strong>Nom de la société:</strong> Jobintech</p>
                        <p><strong>Technologies:</strong></p>
                        <ul>
                            <li>Java</li>
                            <li>Angular</li>
                        </ul>
                        <p><strong>Date de début:</strong> 16/04</p>
                        <p><strong>Date de création:</strong> 01/04</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
