<div class="container">

    <div *ngIf="candidats as candidatList">
        <div *ngFor="let candidat of candidatList">
            <img alt="" src="" />
            <p><strong>Name : {{candidat.name}}</strong></p>
            <p><strong>Profile : {{candidat.title}} </strong></p>
            <p><strong>Email :{{candidat.email}} </strong></p>
            <p><strong>Pays : </strong>{{candidat.pays}}</p>
            <p><strong>Technology :</strong>{{candidat.technologies}}</p>
        </div>
        <p><strong>Skills : </strong></p>
        <p>skill title : </p>
        <p>skill level</p>
        <p><strong>experiences: </strong> </p>
        <p>company</p>
        <p>Poste</p>
        <p>starts at</p>
        <p>ends at</p>
        <p>region</p>
        <p>languages: </p>
        <p>langage</p>
        <p>level</p>

    </div>

</div>
<app-footer></app-footer>